@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;600;700&display=swap");

:root {
  --color-primary-light: #2b4064;
  --color-primary-dark: #1f304e;
  --color-white: #fff;
  --color-black: rgb(0, 0, 0);
  --default-fs: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  /* Defines what 1rem is */
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--color-primary-dark);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: var(--default-fs);
  color: var(--color-white);
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
